version: '3.8'

services:

  web:
   build: .
   ports:
   - "5173:5173"
   volumes:
   - .:/app
   - node_modules:/app/node_modules
   environment:
   - CHOKIDAR_USEPOLLING=true 

volumes:
  node_modules:    
  

