name: Template GHCR Build and Push
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_AUTH_TOKEN }}
      - name: Build & push latest
        uses: docker/build-push-action@v6
        with:
          context: mock-database 
          file: mock-database/Dockerfile
          push: true
          tags: ghcr.io/illuminat3/smart-meter-system-database:latest
